* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0E0C0D;
    color: #FAFAFA;
}

/* Navbar styling */
.navbar-container {
    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    transition: opacity 0.3s ease;
    opacity: 0;
}

.navbar-indicator {
    position: absolute;
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5), transparent 70%);
    top: 50%;
    left: -120px;
    transform: translateY(-50%);
    z-index: 1;
}

.navbar {
    position: relative;
    z-index: 2;
    text-align: left;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #FAFAFA;
    cursor: pointer;
    margin: 10px 0;
    font-weight: 500;
    transition: transform 0.3s ease, color 0.3s;
    position: relative;
}

.nav-item:hover, .nav-item.selected {
    color: #B2A7FB;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

.selection-dot {
    width: 8px;
    height: 8px;
    background-color: #B2A7FB;
    border-radius: 50%;
    margin-right: 8px;
    visibility: hidden;
}

.nav-item.selected .selection-dot {
    visibility: visible;
}

/* Container and Card Styling */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #0F0F0F;
    border: 1px solid #1C1C1D;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 0 10px #B2A7FB;
}

.profile-card {
    grid-row: span 2;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 130px;
    height: 130px;
    border-radius: 10px;
    margin-right: 15px;
}

.name {
    font-size: 28px;
    color: #B2A7FB;
    font-weight: 700;
}

.typing-container {
    font-size: 18px;
    color: #FAFAFA;
    font-weight: 600;
}

.typing-text {
    color: #B2A7FB;
    font-weight: 600;
}

.typing-indicator {
    display: inline-block;
    animation: blink 1s infinite step-end;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Social Button Styling */
.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.social-buttons button {
    background-color: #1E1E1F;
    border: none;
    color: #FAFAFA;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    transition: background-color 0.3s;
}

.social-buttons button:hover {
    background-color: #161616;
}

/* Titles and Subtitles */
.title {
    color: #FAFAFA;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
}

.subtitle {
    color: #7B7B7F;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
}

/* Footer Styling */
footer {
    text-align: center;
    position: relative;
    margin-top: 40px;
    color: #7B7B7F;
}

.made-with-love {
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-name {
    color: #B2A7FB;
    font-weight: 700;
    text-shadow: 0px 0px 10px #B2A7FB;
}

.accent {
    color: #B2A7FB;
    text-shadow: 0 0 10px #B2A7FB;
}

.thick-glow {
    font-weight: 600;
    text-shadow: 0 0 15px #B2A7FB, 0 0 30px #B2A7FB;
}
